In [1]:
import yaml

import pandas as pd

In [2]:
def retrive_results():
    out = {}
    for name in ["python", "java"]:
        with open(f"results/{name}.yaml", 'r') as infile:
            data = yaml.load(infile, Loader=yaml.SafeLoader)

        out[name] = {}
        for key, info in data.items():
            values = info[1:] if key == "order_3" else info
            
            order = int(key[-1])

            avg = sum(values)/len(values)
            out[name][order] = avg
            
    return pd.DataFrame(out)

In [3]:
df = retrive_results()
df["num_rows"] = [10**x for x in df.index]

In [4]:
df

       python       java   num_rows
3    2.348551   0.492574       1000
4    3.140185   0.579370      10000
5    3.876405   0.795821     100000
6    5.552880   1.958956    1000000
7   24.151182  11.507726   10000000
8  195.032587  88.875919  100000000